@layer reset {
  * {
    box-sizing: border-box;
    font-family: inherit;
  }
  a {
    text-decoration: none;
  }
  a:link, a:visited, a:active {
    color: rgb(88, 61, 113)
  }
  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 0.75em;
  }
}

pre code {
    display: block;
}
