/* ---------------------- */
/*  Custom properties     */
/* ---------------------- */
:root {
  --ff-sans: -apple-system, BlinkMacSystemFont, Segoe UI, system-ui, Roboto,
    PingFang SC, Hiragino Sans GB, Source Han Sans SC, Noto Sans CJK SC,
    Noto Sans SC, WenQuanYi Micro Hei, WenQuanYi Zen Hei, Helvetica Neue,
    Microsoft YaHei, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --ff-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --sakiko: 216 45.45% 63.33%;
  --mortis: 120 14% 53%;
}

:root.light {
  --clr-primary: var(--sakiko);
  --clr-accent: 240 100% 99%;
  --clr-text: 217 15% 39%;
  --clr-text-sec: 231 10% 86%;
  --clr-bg: 240 31% 95%;
  --clr-hover: var(--sakiko);
  --clr-link: 216 67% 50%;
  --shadow: 4px 4px 6px hsl(var(--sakiko) / 0.3),
    8px 8px 6px hsl(var(--sakiko) / 0.1);
}

:root.dark {
  --clr-primary: var(--mortis);
  --clr-accent: 223 3% 23%;
  --clr-text: 217 5% 60%;
  --clr-text-sec: 231 10% 30%;
  --clr-bg: 223 3% 19%;
  --clr-link: 120 24% 40%;
  --clr-hover: var(--mortis);
  --shadow: none;
}

/* ------------- */
/*  Reset        */
/* ------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button {
  font: inherit;
}

ol,
ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--ff-sans);
  font-size: 16px;
  background-color: hsl(var(--clr-bg));
  color: hsl(var(--clr-text));
  text-rendering: optimizeSpeed;
}

*::selection {
  background: hsl(var(--clr-primary));
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* I have a fixed header */
  scroll-margin-top: 4.2em;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ---------------------- */
/*  Utilities               */
/* ---------------------- */

.bg-accent {
  background-color: hsl(var(--clr-accent));
}

.flex {
  display: flex;
  gap: 1rem;
}

.flow > *:where(:not(:first-child)) {
  margin-top: 1rem;
}

.container {
  max-width: 1376px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.center {
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p-1 {
  padding: 4px;
}

.p-4 {
  padding: 16px;
}

.push-right {
  margin-left: auto;
}

.push-down {
  margin-bottom: 1em;
}

.br-1 {
  border-radius: 0.4em;
}

.br-2 {
  border-radius: 1em;
}

.letter-spacing-1 {
  letter-spacing: 2.34px;
}

.fw-bold,
.section-label {
  font-weight: 600;
}

.fs-sm {
  font-size: 14px;
}

.uppercase {
  text-transform: uppercase;
}

.shadow-md {
  box-shadow: var(--shadow);
}

.link {
  position: relative;
  display: inline-block;
  transition: clip-path 275ms ease;
  text-decoration: none;
  &.colored {
    color: hsl(var(--clr-link));
  }
}

.link:hover,
.link:focus {
  &::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.link::before {
  position: absolute;
  content: attr(data-content);
  text-decoration-style: wavy;
  text-decoration-line: underline;
  text-underline-offset: 1px;
  color: hsl(var(--clr-hover));
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: clip-path 275ms ease;
}

/* ---------------------- */
/*  Block                 */
/* ---------------------- */
.main-nav {
  flex: 1;
}

.nav-container {
  gap: 3rem;
}

.main-layout-container {
  display: grid;
  margin-top: 7.5rem;
  grid-template-columns: 1fr 20px 3fr 20px 1fr;
  grid-template-areas: "left-side . main . right-side";

  &.post-page {
    grid-template-areas: "left-side gutter main main main";
  }
}

.main-area {
  grid-area: main;

  &.post-main {
    display: grid;
    grid-template-columns: subgrid;
  }
}

.left-side {
  grid-area: left-side;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.right-side {
  grid-area: right-side;
}

.latest-posts {
  display: none;
}

.post-page .latest-posts,
.right-side .latest-posts {
  display: block;
}

/* Post Card component */
.post-page .hidden-in-post-page,
.post-title,
.reading-time {
  display: none;
}
.post-page :where(.post-title, .reading-time) {
  display: block;
}

.post-page .post-title {
  font-size: 1.4rem;
  font-weight: 400;
}

.icon {
  cursor: pointer;
  transition: color 275ms ease;
  &:hover {
    color: hsl(var(--clr-hover));
  }
}

.post-page .post-card-content {
  padding-inline: 0;
}

/* ---------------------- */
/*  Responsive            */
/* ---------------------- */

@media (max-width: 1024px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* I have a fixed header */
    scroll-margin-top: 6.5em;
  }
}

@media (max-width: 1024px) {
  .main-layout-container {
    grid-template-columns: 1fr 2fr;
    gap: 2em;
    grid-template-areas: "left-side main";

    .right-side {
      display: none;
    }
    .latest-posts {
      display: block;
      order: 2;
    }

    &.post-page {
      grid-template-areas: "left-side main";
    }
  }
}

@media (max-width: 768px) {
  .main-layout-container,
  .main-layout-container.post-page {
    grid-template-columns: 1fr;
    grid-template-areas: "main" "left-side";
    gap: 2em;
  }
  .right-side {
    display: none;
  }
  .left-side .latest-posts {
    display: block;
  }
  .left-side > nav {
    display: none;
  }
}

/* shiki dark theme */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
