.toggle-toc-btn {
  cursor: pointer;
  position: fixed;
  top: 180px;
  right: 16px;
  align-items: center;
  padding: 12px;
  gap: 6px;
  border: 0;
  color: var(--clr-text);

  @media (min-width: 769px) {
    display: none;
  }
}

.description {
  transition: opacity 275ms ease;
  line-height: 1;
}
