.header {
  background-color: hsl(var(--clr-accent) / 0.9);
  backdrop-filter: blur(4px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.logo {
  transform-origin: left;
  transform: rotate(-12deg) translateY(8px);
  background-image: linear-gradient(
    to right,
    hsl(var(--sakiko)),
    hsl(var(--mortis))
  );
  background-clip: text;
  color: transparent;
  transition: transform 275ms ease;
  font-weight: 500;

  &:hover {
    transform-origin: right;
    transform: rotate(0deg) translateY(0);
  }

  & > img {
    display: none;
  }

  @media (max-width: 768px) {
    transform: rotate(0deg) translateY(0);
    display: flex;
    align-items: center;
    gap: 6px;

    & > img {
      border-radius: 50%;
      display: block;
    }
  }
}

.links {
  display: flex;
  gap: 2em;
}
