.card {
  background: hsl(var(--clr-accent));
  padding: 16px;
  border-radius: 6px;
  box-shadow: var(--shadow);

  & > h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1.2em;
  }
}

.read-more {
  margin-top: 1em;
  position: relative;
  display: inline-flex;
  font-weight: 500;
  align-items: center;
}

.read-more:hover .indicators {
  & > path:nth-child(2) {
    opacity: 1;
    transition: opacity 125ms;
  }
  & > path:nth-child(3) {
    opacity: 1;
    transition: opacity 125ms 125ms;
  }
  & > path:nth-child(4) {
    opacity: 1;
    transition: opacity 125ms 250ms;
  }
}

.card:hover .indicators {
  & > :first-child {
    opacity: 1;
  }
}

.indicators {
  & > path {
    stroke: hsl(var(--clr-primary));
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0;
    transition: opacity 125ms;
  }
}

.indicators-container {
  margin-left: 8px;
  position: relative;
}
