.banner-container {
  position: relative;
  aspect-ratio: 3 / 1;

  & > img {
    object-fit: cover;
  }

  @media (max-width: 768px) {
    aspect-ratio: 1 / 0.48;
  }
}

.footer {
  display: flex;
  gap: 4px;
}
